 <header class="header-wrapper">
            <div class="container">
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
                    </a>
                    
                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/movie/list">영화</a>
                            
                            <ul>
                                <li class="menu__nav-item"><a href="/movie/list">영화들</a></li>
                                <li class="menu__nav-item"><a href="/movie/getRating">평점순위</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/screenInfo">영화관</a>
                  
                        </li>
                   		 <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/contact">오시는 길</a>
                        </li>
                        
                    </ul>
                </nav>
                
                <!-- Additional header buttons / Auth and direct link to booking-->
                <div class="control-panel">
                     {% if (req.isAuthenticated()) %}
              	        <div class="auth auth--home">
                     		<div class="auth__show">                        
                     	    </div>
		                    <a href="#" class="btn btn--sign btn--singin">
		                          my
		                    </a>
	                        <ul class="auth__function">
	                            <li><a href="/user/getWatchList" class="auth__function-item">워치리스트</a></li>
	                            <li><a href="#" class="auth__function-item">예매목록</a></li>
	                            <li><a href="/logout" class="auth__function-item">로그아웃</a></li>
	                        </ul>
                    	 </div>
				     {% else %}
	                    <a href="/login" class="btn btn--sign ">로그인</a>
                     {% endif %}
                        <a href="/book/init" class="btn btn-md btn--warning btn--book">예매하기</a>
                </div>
            </div>
</header>