 <header class="header-wrapper">
            <div class="container">
                <!-- Main website navigation-->
                <nav id="navigation-box">
                    <!-- Toggle for mobile menu mode -->
                    <a href="#" id="navigation-toggle">
                        <span class="menu-icon">
                            <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                              <span class="lines"></span>
                            </span>
                        </span>
                    </a>
                    
                    <!-- Link navigation -->
                    <ul id="navigation">
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/manager/index">관리자 홈</a>
                  
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/manager/addMovie">영화관리</a>
                       
                            <ul>
                                <li class="menu__nav-item"><a href="/manager/addMovie">영화등록</a></li>
                                <li class="menu__nav-item"><a href="/manager/modifyMovie">영화수정</a></li>
                            </ul>
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/manager/addSeat">좌석관리</a>
                  			<ul>
                                <li class="menu__nav-item"><a href="/manager/addSeat">좌석등록</a></li>
                                <li class="menu__nav-item"><a href="/manager/modifySeat">좌석수정</a></li>
                            </ul>	
                        </li>
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/manager/addSchedule">일정관리</a>
                            <ul>
                                <li class="menu__nav-item"><a href="/manager/addSchedule">일정등록</a></li>
                                <li class="menu__nav-item"><a href="/manager/modifySchedule">일정수정</a></li>
                            </ul>
                        </li>
                   		<li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/manager/reservation">현장예매</a>
                        </li>
                        
                        <li>
                            <span class="sub-nav-toggle plus"></span>
                            <a href="/manager/statistics">통계</a>
                
                        </li>
                        
                    </ul>
                </nav>
                
                <!-- Additional header buttons / Auth and direct link to booking-->
              
            </div>
</header>