{% extends '../layout/default.html' %}
  {% block content %}
        
        <!-- Main content -->
                <form id="login-form" class="login" action='/login' method="post" novalidate="">
                    <p class="login__title">Login<br><span class="login-edition">welcome to A.Movie</span></p>

                    <div class="social social--colored">
                            <a href="/auth/facebook" class="social__variant fa fa-facebook"></a>
                            <a href="/auth/twitter" class="social__variant fa fa-twitter"></a>
                            
                    </div>

                    <p class="login__tracker">or</p>
                    
                    <div class="field-wrap">
                   
                    {% if loginMessage.length>0 %}
					<div class="inv-em alert alert-danger"><span class="icon-warning"></span>{{loginMessage}}<a class="close" data-dismiss="alert" href="#" aria-hidden="true"></a></div> 
					{% endif %}
                    
                    <input type="email" placeholder="Email" name="email" class="login__input">
                    <input type="password" placeholder="Password" name="password" class="login__input">

                    <span class="checkbox" style="background-position: 0px 0px;"></span>
                    <label for="#informed" class="login__check-info">remember me</label>
                     </div>
                    
                    <div class="login__control">
                        <button type="submit" class="btn btn-md btn--warning btn--wider">로그인하기</button>
                        <a href="/signUp" class="login__tracker form__tracker">회원이 아니신가요?</a>                      
                    </div>
                </form>
        
        <div class="clearfix"></div>
    
{% endblock %}
    
