{% extends '../layout/default.html' %}
  {% block content %}
        
        <!-- Main content -->
                <form id="signUp-form" class="login" method="post" action="/signUp" novalidate="">
                    <p class="login__title">회원가입 <br><span class="login-edition"><br>서울시립대 영화관에 오신것을 환영합니다!</span></p>
                    
                    <div class="field-wrap">
                    
                     
					 
                    <input type="email" placeholder="이메일" name="email" class="login__input invalid_field">
                    <input type="password" placeholder="비밀번호" name="password" class="login__input invalid_field">
                    <input type="text" placeholder='이름' name='name' class="login__input invalid_field">
					<input type="text" placeholder='생년월일' name='birth' id="datepicker" class="login__input invalid_field">
					<select placeholer="성별" name='sex' class="login__input invalid_field">
						  <option value='' disabled selected>성별을 선택하세요</option>
						  <option value="남">남</option>
						  <option value="여">여</option>
					</select>
					
					
                     </div>
                    
                    <br>
                    <div class="login__control">
                        <button type="submit" class="btn btn-md btn--warning btn--wider">가입하기</button>
                    </div>
                </form>
        
        <div class="clearfix"></div>
    {% endblock %}

    
{% block customScript %}
		<script>
        $(function() {
            $( "#datepicker" ).datepicker({
            	changeMonth: true,
                changeYear: true,
            	dateFormat:'yy-mm-dd',
            	yearRange: "-100:+0"
            });
          });
        </script>
{% endblock %}