  {% extends '../layout/managerLayout.html' %}
  {% block content %}
        <!-- Main content -->
        <section class="container">
            <div class="overflow-wrapper">
                <div class="col-sm-12">
                
                    <h2 class="page-heading">관리자</h2>
                    
                    <!-- News post article-->
                    <article class="post post--news">
                        <a href='single-page-full.html' class="post__image-link">
                            <img alt='' src="/image/서울시립대.jpg">
                        </a>

                        <h1><a href="single-page-full.html" class="post__title-link">관리자 홈페이지 입니다.</a></h1>
                        

                        <div class="wave-devider"></div>

                         <p>서울시립대 영화관은 대한민국에서 멀티플렉스 영화관 프랜차이즈 UOS를 운영하는 UOS그룹의 엔터테인먼트 및 미디어 부문 계열사이다. 1999년 UOS빌리지로 설립하여 12월에 UOS강변11을 설립하였다. 2001년 UOSMOVIE로 상호 변경하였으며 2002년 10월 10일 주주가 변경되며 현재의 상호로 변경하였다. </p>

                        

                        <div class="devider-huge"></div>
                    </article> 
                    <!-- end news post article-->

               
               </div>
            </div>
        </section>
        
        <div class="clearfix"></div>
	{% endblock %}
