{% extends '../layout/default.html' %}
{% block content %}
        <section class="container">
        
         <div class="order-container">
                <div class="order">
                   
                    <p class="order__title">Book a ticket <br><span class="order__descript">and have fun movie time</span></p>
                   
                </div>
            </div>
               
          
                <div class="order-step-area">
                    <div class="order-step first--step order-step--disable ">1. 영화, 상영관, 시간 선택</div>
                    <div class="order-step second--step order-step--disable">2. 좌석선택</div>
                    <div class="order-step third--step">3. 예약정보 확인</div>
                </div>

            <div class="col-sm-12">
                <div class="checkout-wrapper">
                    <h2 class="page-heading">예약정보</h2>
                     <ul class="book-result">
                        <li class="book-result__item">영화 : <span class="book-result__count booking-ticket">{{reservationInfo.choosen_movie}}</span></li>
                        <li class="book-result__item">상영관 : <span class="book-result__count booking-price">{{reservationInfo.choosen_screen}}</span></li>
                        <li class="book-result__item">좌석 수 : <span class="book-result__count booking-ticket">{{reservationInfo.choosen_number}}</span></li>  
                        <li class="book-result__item">날짜 : <span class="book-result__count booking-cost">{{reservationInfo.choosen_date}}</span></li>
                        <li class="book-result__item">시간 : <span class="book-result__count booking-cost">{{reservationInfo.choosen_time}}</span></li>
                    </ul>
                    <br>
             		
          	
                	 <h2 class="page-heading">요금</h2>	
                	   <ul  class="book-result">
                		 <li class="book-result__item">총 요금 :<span class="book-result__count booking-cost">{{reservationInfo.total_cost+'원'}}</span></li>
                		 {% if reservationInfo.early_morning_fee !=0 %}
                		 <li class="book-result__item">조조할인 :<span class="book-result__count booking-cost">{{reservationInfo.early_morning_fee+'원'}}</span></li>
                		 {% endif %}
                		 {% if req.user %}
                		 <li class="book-result__item">마일리지 사용 :<span class="book-result__count booking-cost">{{reservationInfo.using_mileage+'원'}}</span></li>
                		 <li class="book-result__item">할인된 금액 :<span class="book-result__count booking-cost">{{reservationInfo.discount_cost+'원'}}</span></li>
                		 
                		 {% else %}
                		 <li class="book-result__item">할인된 금액 :<span class="book-result__count booking-cost">{{reservationInfo.total_cost-reservationInfo.early_morning_fee+'원'}}</span></li>
                		 {% endif %}
                	   </ul>
                	   
                	  <h2 class="page-heading">결제수단 선택</h2>	
	                	 <select placeholer="" id='choose-pay' class="login__input invalid_field">
							  <option value='' disabled selected>결제수단을 선택하세요.</option>
							  <option value='credit'>신용카드</option>
							  <option value='no-account'>무통장입금</option>
							  <option value='account-transfer'>계좌이체</option>
							  <option value='phone'>핸드폰</option>
					     </select>
	                       
	                <h2 class="page-heading">결제정보 입력</h2>       
	                <form id="pay-info" method="post" novalidate="" class="form contact-info">
                        
                    </form>
                    
                </div>
              
                
                <div class="order">
                    <a href="/paypalExecute" onclick="return confirm('정말  예매(결제)하시겠습니까?')" class="btn btn-md btn--warning btn--wide">구매하기</a>
                </div>

            </div>

        </section>
        

        <div class="clearfix"></div>

        <div class="booking-pagination">
                <a href="javascript: history.go(-1)" class="booking-pagination__prev">
                    <p class="arrow__text arrow--prev">이전 단계</p>
                    <span class="arrow__info">좌석선택</span> 
                </a>
          
        </div>
        
        <div class="clearfix"></div>
        
{% endblock %}

{% block customScript %}
<script>
    $(function(){
    	$('#choose-pay').change(function(){
    		var option=$( "#choose-pay option:selected" ).val();
    		
    		switch(option){
    		
    		case 'credit' :
    			
    			$('#pay-info').empty();
    			$('#pay-info').append('<div class="contact-info__field contact-info__field-mail">'+'<input type="cardnumber" name="cardnumber" placeholder="카드번호" class="form__mail">'+'</div>');
    			$('#pay-info').append('<div class="contact-info__field contact-info__field-mail">'+'<input type="cardnumber" name="cardnumber" placeholder="cvc번호" class="form__mail">'+'</div>');
    			$('#pay-info').append('<div class="contact-info__field contact-info__field-mail">'+'<input type="cardnumber" name="cardnumber" placeholder="비밀번호" class="form__mail">'+'</div>');	
    			$('#pay-info').append('<div class="contact-info__field contact-info__field-mail">'+'<input type="cardnumber" name="cardnumber" placeholder="유효기간" class="form__mail">'+'</div>');	  
    			break;
    		case 'no-account' :
    			$('#pay-info').empty();
    			$('#pay-info').append(
    			'<ul class="book-result">'+
               ' <li class="book-result__item">영화 : <span class="book-result__count booking-ticket">국민은행</span></li>'+
               ' <li class="book-result__item">상영관 : <span class="book-result__count booking-price">642202-04-029049</span></li>'+
                '</ul>'
    			)
    			break;
    			
    		case 'account-transfer' :
    			$('#pay-info').empty();
    			$('#pay-info').append('<select placeholer="" class="login__input invalid_field">'+
    					  "<option value='' disabled selected>은행을 선택하세요</option>"+
    					  "<option value='credit'>신한은행</option>"+
    					  "<option value='no_account'>국민은행</option>"+
    					  "<option value='account-transfer'>기업은행</option>"+
    					  "<option value='phone'>우리은행</option>"+
    			     '</select><br><br>');
    			$('#pay-info').append('<div class="contact-info__field contact-info__field-mail">'+'<input type="cardnumber" name="cardnumber" placeholder="계좌번호" class="form__mail">'+'</div>');
    			break;
    			
    		case 'phone' :
    			$('#pay-info').empty();
    			$('#pay-info').append('<select placeholer="" class="login__input invalid_field">'+
				  "<option value='' disabled selected>통신사를 선택하세요</option>"+
				  "<option value='credit'>kt</option>"+
				  "<option value='no_account'>skt</option>"+
				  "<option value='account-transfer'>lgt</option>"+
				  "<option value='phone'>알뜰폰</option>"+
		     '</select><br><br>');
    			$('#pay-info').append('<div class="contact-info__field contact-info__field-mail">'+'<input type="cardnumber" name="cardnumber" placeholder="휴대폰 번호" class="form__mail">'+'</div>');
    			break;
    		}
    		
    	})
    	
    })

</script>
{% endblock %}
