
{% extends '../layout/default.html' %}
{% block content %}

        <section class="container">
            <div class="order-container">
                <div class="order">
                    <img class="order__images" alt='' src="images/tickets.png">
                    <p class="order__title">Thank you <br><span class="order__descript">you have successfully purchased tickets</span></p>
                </div>

                <div class="ticket">
                    <div class="ticket-position">
                        <div class="ticket__indecator indecator--pre"><div class="indecator-text pre--text">online ticket</div> </div>
                        <div class="ticket__inner">

                            <div class="ticket-secondary">
                                <span class="ticket__item">예약번호 <strong class="ticket__number">{{payment.id}}</strong></span>
                                <span class="ticket__item ticket__date">{{reservationInfo.choosen_date}}</span>
                                <span class="ticket__item ticket__time">{{reservationInfo.choosen_time}}</span>
                                <span class="ticket__item">상영관 : <span class="ticket__cinema">{{reservationInfo.choosen_screen}}</span></span>
                                <span class="ticket__item ticket__price">가격 : <strong class="ticket__cost">{{reservationInfo.amount+'$'}}</strong></span>
                            </div>

                            <div class="ticket-primery">
                                <span class="ticket__item ticket__item--primery ticket__film">영화<br><strong class="ticket__movie">{{reservationInfo.choosen_movie}}</strong></span>
                                <span class="ticket__item ticket__item--primery">좌석 : <span class="ticket__place">{{reservationInfo.choosen_sits}}</span></span>
                            </div>


                        </div>
                        <div class="ticket__indecator indecator--post"><div class="indecator-text post--text">online ticket</div></div>
                    </div>
                </div>

                <div class="ticket-control">
                    <a href="#" class="watchlist list--download">Download</a>
                    <a href="#" class="watchlist list--print">Print</a>
                </div>

            </div>
        </section>
        
        <div class="clearfix"></div>
{% endblock %}
{% block customScript %}
        <script type="text/javascript">
            $(document).ready(function() {
                $('.top-scroll').parent().find('.top-scroll').remove();
            });
        </script>
{% endblock %}
