  {% extends '../layout/default.html' %}
  {% block content %}
        <!-- Main content -->
        <section class="container">
            <h2 class="page-heading heading--outcontainer">Movies</h2>

            <div class="col-sm-12 col-md-12">
                
                <div class="select-area">
                    <form class="select select--film-category" method='get'>
                       <select name="genre" class="select__sort" tabindex="0">
                         <option value="" >전체</option>
                         <option value="액션">액션</option>
                         <option value="호러">호러</option>
                         <option value="드라마">드라마</option>
                         <option value="판타지">판타지</option>
                         <option value="스릴러">스릴러</option>
                         <option value="코믹">코믹</option>
                      </select>
                    </form>
                    
                    <form id="sortingByParams" action="/movie/list" method="GET">
						<input type="hidden" name="genre" id="genreParam" value="">
						<input type="hidden" name="orderBy" id="orderParam" value="">
					</form>
                </div>

                 <div class="tags-area">
                    <div class="tags tags--unmarked">
                            <ul>
                                <li class="item-wrap"><a href="#" class="tags__item" id='OPENDATE' data-filter='OPENDATE'>개봉일순</a></li>
                              
                                <li class="item-wrap"><a href="#" class="tags__item" id='SCORE'  data-filter='SCORE'>평점순</a></li>
                            </ul>
                    </div>
                </div>
                
                {% for movie in movies %}
                <!-- Movie preview item -->
                <div class="movie movie--preview release">
                     <div class="col-sm-5 col-md-3">
                            <div class="movie__images">
                                <img alt='' src="{{'/image/'+movie.IMAGE}}">
                            </div>
                            <div class="movie__feature">
                                <a href="/movie/info?moviecode={{movie.MOVIECODE}}" class="movie__feature-item movie__feature--comment">댓글</a>
                                
                                <a href="/movie/info?moviecode={{movie.MOVIECODE}}" class="movie__feature-item movie__feature--photo">사진</a>
                            </div>
                    </div>

                    <div class="col-sm-7 col-md-9">
                            <a href='/movie/info?moviecode={{movie.MOVIECODE}}' class="movie__title link--huge">{{movie.NAME}}</a>
                            <p class="movie__time">{{movie.RUNNINGTIME}}</p>

                            <p class="movie__option"><strong>국가 : </strong><a href="#">{{movie.COUNTRY}}</a></p>
                            <p class="movie__option"><strong>장르 : </strong><a href="#">{{movie.GENRE}}</a></p>
                            <p class="movie__option"><strong>개봉일 : </strong>{{movie.OPEN_DATE}}</p>
                            <p class="movie__option"><strong>감독 : </strong><a href="#">{{movie.DIRECTOR}}</a></p>
                            <p class="movie__option"><strong>배우들 : </strong><a href="#">{{movie.ACTORS}}</p>
                            <p class="movie__option"><strong>연령 : </strong><a href="#">{{movie.RATING}}</a></p>
							<p class="movie__option"><strong>줄거리 : </strong><a href="#"><br><br>{{movie.SUMMARY}}</a></p>
                            <div class="movie__btns">
                                <a href="/book/init" onclick="sessionStorage.setItem('movie','{{movie.MOVIECODE}}')" class="btn btn-md btn--warning">예매하기 <span class="hidden-sm"></span></a>
                                <a href="/user/addWatchList?moviecode={{movie.MOVIECODE}}"  class="watchlist">관심 리스트에 담기</a>
                            </div>

                            <div class="preview-footer">
                                <div class="movie__rate">
                                <div id='score' data-moviecode='{{movie.MOVIECODE}}' class="score"></div>
                                <span class="movie__rate-number">{{movie.VOTES+'명이 평가'}}</span>
                                <span class="movie__rating">{{movie.AVGSCORE}}</span>
                                </div>
                            </div>
                    </div>

                    <div class="clearfix"></div>
                    
                   

                </div>
           
                {%endfor%}
                <!-- end movie preview item -->

                
                <!-- end movie preview item -->
                <div class="coloum-wrapper">
                    <div class="pagination paginatioon--full">
                            <a href='#' class="pagination__prev">prev</a>
                            <a href='#' class="pagination__next">next</a>
                    </div>
                </div>

            </div>
                    
          

        </section>
        <div class="clearfix"></div>
{% endblock %}
{% block customScript %}
	<script type="text/javascript">
	            $(document).ready(function() {
	                init_MovieList();
	            });
	</script>
{% endblock %}